body {
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .navbar {
    background: #765c3d !important;
  }
  
  #nav-logo {
    width: 3.039375rem;
    height: 2.75rem;
  }
  
  .nav-link {
    color: #f2d2ae !important;
  }
  
  #hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)),
                url("./images/pexels-paul-ijsendoorn-33041.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #banner-section-title {
    font-weight: 600 !important;
    font-size: 4rem !important;
    line-height: 4.5rem !important;
  }
  
  #banner-section-subTitle {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 1.875rem !important;
  }
  
  #get-started-button {
    background: #b59066 !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    line-height: 1.5rem !important;
    border-radius: 62.4375rem;
    width: 11.25rem !important;
  }
  
  #mid-section-title {
    color: #765c3d !important;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    margin-top: 10.4375rem !important;
  }
  
  #mid-section-description {
    color: #765c3d !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
  }
  
  #album-container {
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25) !important;
    padding-left: 8rem !important;
    padding-right: 8rem !important;
    margin-top: 7.0625rem !important;
  }
  
  #carousel-title {
    color: #765c3d !important;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
  }
  
  #carousel-description {
    color: #765c3d !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
  }
  
  #contact-us-section {
    background: #fff2e4 !important;
    margin-top: 12.375rem !important;
  }
  
  #contact-us-img {
    inset: 0 !important;
    background: url("./images/Contact Us - image.png");
    background-color: rgba(0, 0, 0, 0.59);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #contact-us-container {
    padding-left: 7.75rem !important;
    padding-right: 12.875rem !important;
  }
  
  #contact-us-title {
    color: #765c3d !important;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    margin-top: 6.6875rem !important;
  }
  
  #contact-us-description {
    color: #765c3d !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
  }
  
  label {
    color: #b59066 !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;  
  }
  
  #submit-button {
    background: #b59066 !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    line-height: 1.5rem !important;
    border-radius: 62.4375rem;
    width: 8.75rem !important;
    margin-left: 18rem !important;
  }
  
  #footer-section {
    background: #b59066 !important;
    height: 2.5rem !important;
  }
  
  #footer-text {
    color: #fff2e4 !important;
    font-weight: 500;
    font-size: 1rem;
  }
  